@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*-------------Header(top-menu)클래스-------------------*/

/*기본형 왼쪽 메뉴바*/
#menu-bar {
    width: 290px;
    height: 100vh;
    z-index: 7;
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

#menu-bar > .image {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#menu-bar > .text-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#menu-bar> .blog-image {
    align-items: flex-end;
    flex-direction: row;
}

#menu-bar > .image > .face {
    width: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem 0 0 0;
}

#menu-bar > .image > .name {
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    margin: 0rem 0 1.5rem 0;
}

#menu-bar > .text-items li {
    padding-bottom: 3rem;
}

#menu-bar > .blog-image {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

#menu-bar > .blog-image > .item {
    padding: 0 0rem 2rem 0rem;
}

#menu-bar > .text-items > .item > .link:hover {
    color: #A4A4A4;
}

#menu-bar > .blog-image > .item > a  > .top-git, .top-tisory {
    width: 3rem;
    transition: 0.3s; /* 일반 상태와 호버 상태 사이의 전환을 부드럽게 하기 위한 트랜지션 설정 */
}

#menu-bar > .blog-image > .item > a  > .top-git:hover, .top-tisory:hover {
    filter: brightness(70%);
    transition: 0.2s;
}

#menu-bar > .blog-image > .item > span {
    align-items: center;
    display: flex;
    justify-content: center;
}

#menu-bar > .blog-image > .item > span > .bubble {
    background: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-radius: 7px;
    padding: 6px;
    margin-bottom: 3.1rem;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease; /* 투명도 변화에 애니메이션 적용 */
}

#menu-bar > .blog-image > .item > span > .bubble::after {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #333;
    border-bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
    /*opacity: 0;*/
}




/*------------공통으로 사용되는 section 클래스------------------------------------*/

section{
    padding: 0 0 0 290px;
}

section > .intro-box{
    background-image: url('https://t1.daumcdn.net/cfile/tistory/2356853556C27BD133');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

section > .section {
    padding: 3.5rem 0 3.5rem 0px;
    width: 100%;
    background-color: #F2F2F2;
}

section > .section.skill {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section > .section.project {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section > .section.blog {
    background-color: white;
}

footer {
    padding: 1rem 0 1rem 290px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-------------------------------------표지 구성--------------------------------------*/

/*처음 표지 구성*/
section > .intro-box {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    min-height: 100vh;
    text-align: center;
}

/*처음 표지 자기소개글 구성*/
section > .intro-box > .first-text {
    font-size: 2rem;
    color: white;
    font-weight: 500;
    line-height: 45px;
    height: 7rem;
}


/*-----------------------------------자기 소개 화면--------------------------------------*/

/*자기소개 제목*/
section > .section > .header-Text {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-thickness: 3px;
    text-underline-offset: 1rem;
    margin: 1rem 0 3rem 0;
}

/*자기소개 내용이랑 이름과 나이소개 구성하는 박스*/
section > .section > .introduce-box {
    display: flex;
    justify-content: space-around;
}


/*자기소개글 머리글 글씨 크기및 굵기*/
section > .section > .introduce-box > .my > .intro-header {
    font-size: 2rem;
    font-weight: bold;
}

/* 자기소개글 첫번째 단락 위 아래 간격 */
section > .section > .introduce-box > .my > .first-text-box {
    padding: 1rem 0 1.5rem 0;
}

/* 자기소개글 두번째 단락 위 아래 간격 */
section > .section > .introduce-box > .my > .second-text-box {
    margin: 0 0 0 0.4rem;
}

section > .section > .introduce-box > .my > .first-text-box > .text {
    margin: 1.5rem 0 0 0;
    font-size: 1.1rem;
}

/*이름 및 이메일 박스 글씨 구성*/
section > .section > .introduce-box > .school {
    margin: 1rem 0 0rem 0;
    padding: 0rem 5rem 0 5rem;
}

section > .section > .introduce-box > .school > .privacy {
    font-size: 1.3rem;
    border-bottom: 1px solid #BDBDBD;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
}

/*---------- 스킬 소개 --------------------------------------*/
section > .section.skill > .text-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*내 학력 및 자격증 소개하는 박스*/
section > .section.skill > .text-box > .school-box {
    background-color: whitesmoke;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
}

/* 년도 표시*/
section > .section.skill > .text-box > .school-box > .year,.box-name {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0rem;
}

/*졸업한 과 및 자격증 이름 표시*/
section > .section.skill > .text-box > .school-box > .department {
    font-size: 1.2rem;
    margin: 0.4rem 0 0.4rem 0rem;
    font-weight: 700;
}

/*자격증 및 배운것 소개*/
section > .section.skill > .text-box > .school-box > .text {
    font-size: 1rem;
    margin: 0.4rem 0 0.4rem 0rem;
    font-weight: 500;
}

section > .section.skill > .more {
    margin: 0 auto;
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

section > .section.skill > .more:hover {
    cursor: pointer;
}

section > .section.skill > #circular-graph > .graph {
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

section > .section.skill >#circular-graph > .graph > .stacks {
    position: relative;
    padding: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem;
}

section > .section.skill >#circular-graph > .graph > .stacks > h2 {
    margin: 2rem 0 2rem 0;
}


section > .section.skill >#circular-graph > .graph > .stacks > .skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0rem 1rem 0rem;
}

/* 원형그래프 설정*/
section > .section.skill >#circular-graph > .graph > .stacks > .skills > .text{
    margin: 0 0 1rem 0;
}

section > .section.skill >#circular-graph > .graph > .stacks > .skills > .chart {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transition: 0.3s;
    background-color:  #dedede;

}

section > .section.skill >#circular-graph > .graph > .stacks > .skills > .chart > .center {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 15px;
    transform: translate(-50%, -50%);
}

section > .section.skill > #graph{
    display: none;
}



/*--------------------------프로젝트 소개----------------------------------------*/

section > .section.project > .project-Box {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 0.3rem;
    width: 80%;
    margin: 1rem;
}

section > .section.project > .project-Box > img {
    width: 20rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

section > .section.project > .project-Box > ul {
    width: 100%;
    margin: 1rem;
}

section > .section.project > .project-Box > ul > li {
    white-space: pre-line;
    margin: 0.8rem;
    line-height: 25px;
}

section > .section.project > .project-Box > ul > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section > .section.project > .project-Box > ul > div > .code > .project-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0.4rem;
    background-color: #808080;
    padding: 0.75rem;
}

section > .section.project > .project-Box > ul > div > .code > .project-header:hover {
    background-color: #939292;
}

/*------------------------------------------------------------------------------*/


/* 블로그 section 사진 크기 및 배치 */
section > .section.blog > .blog-image-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3rem 0 0 0;
}

section > .section.blog > .blog-image-box > a > .blogGit {
    width: 8rem;
}

section > .section.blog > .blog-image-box > a > .blogTistory {
    width: 7.5rem;
}
/*-------------------------------*/



/* footer 섹션 바닥글 위치*/
footer > .footer-text > .created > b{
    margin: 0 1rem 0 1rem;
}
/*-------------------------------*/





